<div class="good w-100 h-auto">
  <header></header>

  <div class="main w-100 d-flex justify-content-center my-5">
  	<div class="col-md-5">
  		<img class="good-image" src="assets/images/laptop.png">
  	</div>

  	<div class="col-md-7 d-flex flex-column">
  		<h1 class="good-title w-100">Apple IPhone 7 32GB</h1>
  		<div class="good-buy w-100 d-flex justify-content-between">
  			<span class="good-price">21 999 грн</span>
  			<button type="button" class="btn buy-button">Купить</button>
  		</div>

  		<div class="line"></div>

  		<p class="good-description">
  			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  		</p>

  		<div class="line"></div>

  		div.
  	</div>
  </div>

  <foot></foot>
</div>
