$firstTextColor:		#3a434a;
$secondTextColor:		#57c0d7;

$firstBGColor:			#3a434a;
$secondBGColor:			#bedffe;
$thirdBGColor:			#e6e3de;
$fourthBGColor:			#ffd9b2;
$fifthBGColor:			#ffecb4;
$sixthBGColor:			#ffc0df;
$seventhBGColor:		#bffafe;
$eighthBGColor:			#58cbde;

$firstBorderColor:		#3a434a;